#nextButton {
 font-family: 'Indie Flower', cursive;
 font-size: 40px;
 position: absolute;
 left: 1250px;
 top: 700px;
}

#text-begining {
  position: absolute;
  left: 680px;
  top: 180px;
  font-size: 35px;
  font-family: Impact;
  padding-right: 300px;
}

#text-classroom {
  position: absolute;
  left: 680px;
  top: 180px;
  font-size: 35px;
  font-family: Impact;
}
#nextButton-classroom {
 font-family: 'Indie Flower', cursive;
 font-size: 40px;
 position: absolute;
 left: 1250px;
 top: 700px;
}
